<nav class="navbar">
    <h2 id="navbar-title" class="navbar-title">Currently Connected to ...</h2>
    <ul class="nav-tabs">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/upload.html" class="nav-link">Upload</a></li>
        <li class="nav-item"><a href="/pages.html" class="nav-link">Pages</a></li>
        <li class="nav-item"><a href="/macros.html" class="nav-link">Macros</a></li>
        <li class="nav-item"><a href="/admin.html" class="nav-link">Admin</a></li>
    </ul>
</nav>
  